---
layout: default
title: Home
---

<link rel="stylesheet" type="text/css" href="assets/css/home.css">
<section id="about-section">
    <div class="container">
        <div id="about-content">
            <h1>Full-Stack Web Developer</h1>
            {% include social-icons-medium.html %}
        </div>
    </div>
</section>
<section id="showcase-section">
    <div class="container">
        <div id="showcase-content">
            <h2>Featured Websites</h2>
        </div>
    </div>
</section>
{% include footer.html %}

<script src="/assets/js/index.js"></script>