/*Global Elements*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #3c3c3c;
}

h1 {
  font-size: 62px;
  color: #ffffff;
}

a {
    text-decoration: none;
}

/*Specific Elements*/
#main-header {
    overflow: hidden;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 50px;
    background-color: #06603A;
  }
  

  #main-header #title {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: bold;
    float: left;
    text-align: center;
    color: #ffffff;
  }
  

  #main-navbar {
    float: right;
  }

  #main-navbar li {
      list-style: none;
      display: inline;
      margin: 10px;
  }


  #main-navbar a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
  }


  #main-navbar a:hover {
      color: #2c2c2c;
  }

  #about {
    height: 500px;
    line-height: 200px;
    padding: 200px;
    background-image: url(../images/Background_Images/work-731198_1920-880.jpg);
    background-size: 1920px, 880px;
  }
  
  #about h1 {
      text-align: center;
  }

  .social-media-icons {
    display: block;
    text-align: center;
  }

  .social-media-icons li {
    display: inline;
    margin: 5px;
  }

  .social-media-icons img{
    width: 50px;
    height: 50px;
  }