* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #3c3c3c;
    color: #ffffff;
}

#main-header {
    display: inline-block;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    background-color: #06603A;
}

#main-header h1 {
    
}

#main-navbar ol {
    
}

#main-navbar li {
    list-style: none;
    display: inline;
}

#main-navbar a {
    text-decoration: none;
    color: #ffffff;
}