<link rel="stylesheet" type="text/css" href="/assets/css/social-icons-small.css">

<div class="social-icon-bar-small">
    <div class="social-icons-small">
        <a href="https://github.com/Bogey1331"><img
            srcset="/assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-16px.png 16w, /assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-36px.png 36w, /assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png 64w"
            sizes="(min-width: 700px) and (max-width: 2160px) 36px, (min-width: 2160px) 64px, 16px"
            src="/assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-16px.png"
            alt="White Github Logo">
        </a>
        <a href="https://www.linkedin.com/in/justinrtolin/"><img
            srcset="/assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-16.png 16w, /assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-36.png 36w, /assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-64.png 64w"
            sizes="(min-width: 700px) and (max-width: 2160px) 36px, (min-width: 2160px) 64px, 16px"
            src="/assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-16.png"
            alt="White Linkedin Logo">
        </a>
        <a href="https://www.facebook.com/justin.tolin.5"><img
            srcset="/assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_16.png 16w, /assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_36.png 36w, /assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_64.png 64w"
            sizes="(min-width: 700px) and (max-width: 2160px) 36px, (min-width: 2160px) 64px, 16px"
            src="/assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_16.png"
            alt="White Facbook Logo">
        </a>
        <a href="https://twitter.com/TolinJustin"><img
            srcset="/assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-16px.png 16w, /assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-36px.png 36w, /assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-64px.png 64w"
            sizes="(min-width: 700px) and (max-width: 2160px) 36px, (min-width: 2160px) 64px, 16px"
            src="/assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-16px.png"
            alt="White Twitter Logo">
        </a>
    </div>
</div>