<link rel="stylesheet" type="text/css" href="/assets/css/social-icons-medium.css">

<div class="social-icon-bar-med">
    <div class="social-icons-med">
        <a href="https://github.com/Bogey1331"><img
            srcset="/assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-36px.png 36w, /assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png 64w, /assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png 120w"
            sizes="(min-width: 700px) and (max-width: 2160px) 64px, (min-width: 2160px) 120px, 36px"
            src="/assets/images/Favicons/GitHub-Mark/PNG/GitHub-Mark-Light-36px.png"
            alt="White Github Logo"
            target="_blank">
        </a>
        <a href="https://www.linkedin.com/in/justinrtolin/"><img
            srcset="/assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-36.png 36w, /assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-64.png 64w, /assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-120.png 120w"
            sizes="(min-width: 700px) and (max-width: 2160px) 64px, (min-width: 2160px) 120px, 36px"
            src="/assets/images/Favicons/LinkedIn-Logos/In/Digital/White/1x/In-White-36.png"
            alt="White Linkedin Logo"
            target="_blank">
        </a>
        <a href="https://www.facebook.com/justin.tolin.5"><img
            srcset="/assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_36.png 36w, /assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_64.png 64w, /assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_120.png 120w"
            sizes="(min-width: 700px) and (max-width: 2160px) 64px, (min-width: 2160px) 120px, 36px"
            src="/assets/images/Favicons/f-Logos-2019-1/f_Logo_Online_04_2019/white/PNG/f_logo_RGB-White_36.png"
            alt="White Facbook Logo"
            target="_blank">
        </a>
        <a href="https://twitter.com/TolinJustin"><img
            srcset="/assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-36px.png 36w, /assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-64px.png 64w, /assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-120px.png 120w"
            sizes="(min-width: 700px) and (max-width: 2160px) 64px, (min-width: 2160px) 120px, 36px"
            src="/assets/images/Favicons/Twitter-All-Brand-Resources/Twitter-Social-Icons/Twitter_SocialIcon_Circle/Twitter_Social_Icon_Circle_White-36px.png"
            alt="White Twitter Logo"
            target="_blank">
        </a>
    </div>
</div>