/*About Section*/
#about-section {
    height: 92vh;
    background-image: url('/client/Media/Images/work-731198_1920x880.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-section #about-content {
    margin: 30vh 0 30vh 0;
}

#about-section #about-content h1 {
    text-align: center;
    padding: 10px 0;
}

#about-section #about-content .social-icons {
    text-align: center;
    padding: 10px 0;
}