/*About Section*/
#about-section {
    height: 92vh;
    background-image: url('/assets/images/work-731198_1920x880.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-section #about-content {
    margin: calc(25vh + 1vw) 0;
}

#about-section #about-content h1 {
    text-align: center;
    padding: calc(10px + 1vw) 0;
}

#about-section #about-content .social-icon-bar-med {
    text-align: center;
}

#showcase-section {
    padding: calc(100px + 1vw) 0;
    background-color: #2c2c2c;
}

#showcase-section #showcase-content {
    min-height: 800px;
    margin: auto;
    border-radius: calc(65px + 1vw);
    text-align: center;
    background-color: #06603A;
}

#showcase-section #showcase-content h2 {
    padding: calc(30px + 1vw) 0 0 0;
    text-align: center;
}

#showcase-section #showcase-content #seemore-button {
    margin: 0 0 calc(20px + 1vw) 0;
    box-shadow: 0px calc(12px + 1vw) calc(16px + 1vw) rgba(0, 0, 0, .5);
}