.website-card {
    width: 80%;
    padding: 0 calc(10px + 1vw);
    margin: calc(20px + 1vw) auto;
    border-radius: calc(60px + 1vw);
    box-shadow: 0px calc(12px + 1vw) calc(16px + 1vw) rgba(0, 0, 0, .5);
    background-color: #2c2c2c;
}

.website-card #name {
    padding: calc(20px + 1vw) 0 calc(10px + 1vw) 0;
    text-align: center;
}

.website-card #description {
    padding: calc(10px + 1vw) 0;
    text-align: left;
}

.website-card #thumbnail {
    width: 100%
}

.website-card #buttons {
    padding: 0 0 calc(10px + 1vw) 0;
    text-align: center;
}

.website-card #button-left {
    margin: 0 calc(5px + 1vw) 0 0;
}

.website-card #button-right {
    margin: 0 0 0 calc(5px + 1vw);
}

.website-card #buttons #button-right img {
    width: calc(5px + 1vw);
}

@media screen and (max-width: 350px) {
    .website-card #buttons button {
        margin: calc(5px + 1vw) 0;
    }
}