.social-icons-med {
    padding: calc(10px + .5vw) 0;
}
.social-icons-med a {
    margin: 0 calc(5px + .5vw);
}

.social-icons-med a img {
    transform: translateY(0px);
    transition: transform .25s ease-in;
}

.social-icons-med a img:hover {
    transform: translateY(calc(5px + .5vw));
}