<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Justin Tolin's web design and developement portfolio.">
        <meta name="keywords" content="website, web design, web development, full-stack, full-stack web development, full-stack web developer, react, react native, electronjs">
        <meta name="author" content="Justin Tolin">
        <title>{{page.title}}</title>
{% if page.url == "/" %}
{% include netlifyidentitywidget.html %}
{% endif %}
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>